.ts1{font-size:8px !important;
}
.ts2{font-size:20px;
}

body::-webkit-scrollbar {
    display: none;
  }
  html {
    scroll-behavior: smooth;
  }
  
.tabbll tr:hover td{font-size:20px;
                    color:orangered;}

#forimg2{ 
    /* transform: scaleX(-1); */
            }

.forimg21:hover{ transform: scale(1.1);
            }

.forimg212:hover{ transform: scale(1.2);              
            }

 .forimg2121:hover{ transform: scale(1.2);
                          
            }
 .forimg21211:hover{ transform: scale(1.2);
                          
            }



.forimg212 {
                width: 394px;
                height: 263px;
            }

.fsofbtn{font-size:16px !important;
          display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } 

.fa-heart:hover{color:red !important;}

.colred{color:red !important}

.acccar113{width:60px;
            }
            
.nav-link{color:white;
        font-size:12px; }

.icon{color:white;
        transition:color 1s, transform 2s;
        font-size:40px !important; }

.rott{color:red !important;
    transform:rotate(45deg);}

.orangeclass{color:orangered !important;
   }

.bgorange{background-color: orangered !important;}

 .naa a:hover{color:orangered !important;}
 .naa a {
    color: rgb(240 238 238 / 92%);
    padding-left: 0px !important;
}
    #spimg1 {
        background-image: url('https://thumbs.dreamstime.com/z/black-white-social-media-icons-transparent-background-vector-high-quality-set-illustration-128494422.jpg');
        background-position: 229px 1136px;
        height: 54px;
        width: 55px;
        background-size: 596%;
        border-radius: 22PX;
    }

.motoa{background-color:orangered;
    color:white;}
.motoa:hover{text-decoration: none;
            background-color:white;
            color:orange;
            
            }
.bg-dark1 {
    background-color: rgb(52 58 64 / 16%)!important;
}
#spimg2 {
    background-image: url('https://thumbs.dreamstime.com/z/black-white-social-media-icons-transparent-background-vector-high-quality-set-illustration-128494422.jpg');
    background-position: 229px -24px;
    height: 54px;
    width: 55px;
    background-size: 596%;
    border-radius: 22PX;
}
.iconsImageSize
{
    font-size: 25px !important;
}

#spimg3 {
    background-image: url('https://thumbs.dreamstime.com/z/black-white-social-media-icons-transparent-background-vector-high-quality-set-illustration-128494422.jpg');
    background-position:313px -252px;
    height: 54px;
    width: 55px;
    background-size: 596%;
    border-radius: 22PX;
}
#spimageul{display:flex;
           flex-direction:row;
           justify-content:center; 
           /* padding: */
}

#spimg4 {
    background-image: url('https://thumbs.dreamstime.com/z/black-white-social-media-icons-transparent-background-vector-high-quality-set-illustration-128494422.jpg');
    background-position:148px -252px;
    height: 54px;
    width: 55px;
    background-size: 596%;
    border-radius: 22PX;
}
.pmargin{ margin: 5px 0px 10px 0px;}
.sclstpara1{    
    margin: 9px 61px !important;
    font-size: 14px;}      

  
.heada3{background-image:url('1290aa.jpg');
            width:inherit;    
             background-size:cover;
             height:100vh;
             background-attachment:scroll;}  
.heada61{background-image:url('light.jpg');
                width:100%;    
                 background-size:cover;
                 height:100vh;
                 background-attachment:scroll;} 

.heada5{background-image:url('ktm1290.jpg');
    width:100%;    
     background-size:cover;
     height:100vh;
     background-attachment:scroll;}  


.colimgrc{height:50vh;width:100vw;object-fit:cover
            
    } 
    
.secimg{
            width:100%;
            object-fit:cover;
            height:100vh;
            z-index:-1;
            object-position:76% 80%
            }
 .hovtext h6{font-size:30px;} 
 .hovtext h1{font-size:70px;
            margin-top:-26px;}             

.hovdiv:hover .hovtext{visibility:hidden;}
        










    body{font-family: 'Girassol', cursive !important;
        margin:0px;}
            
.headerset{padding-top:250px;
            box-sizing:border-box;}

.headerset p{font-size:50px}
.headerset h1{font-size:50px}
.class1290 p{position:absolute;
    top:529px;
    left:111px;
    
    color: rgb(255 87 34);
    font-size:40px;
    font-style:italic;}
    
.class1290 h1{position:absolute;
    top:568px;
    left:66px;
    
    color: rgb(255 87 34);
    font-size:70px;
    font-style:italic;}
 .class1290 a:hover{background-color:rgb(255,87,34,0.5);}	

.ktm-imagee1+ a{position:absolute;
    top:661px;
    left:187px;
    text-decoration:none;
    background-color:rgb(255 87 34);
    color:white;
    font-size:10px;
    padding:25px 40px;
    font-style:italic;
    }				



.globalmodelspara{
    font-size:90px;
    color:rgb(255 87 34);
 
    position:relative;
    top:64px;
    }
.servc{padding:400px 0px 0px 60px;
            height:680px;}

 .rowset{margin:111px 0px 40px 0px !important;
        }            

 .spec{margin-top: 30px;
        font-size:22px}
 .speca{ font-size:22px;
        }
 .speca1{text-decoration: none;
    border: 1px solid hidden;
    padding: 3px 0px 3px 0px;
    background-color: rgb(255 87 34);
    color: white;
    font-size: 20px;
    width:250px;
    margin:auto;
}   
 .div-of-footer-aaa li
{
    padding: 0px 20px !important;
}
.speca1:hover{text-decoration:none;
                color:rgb(255 87 34);
                background-color: white;
                border: 1px solid rgb(255 87 34);
                animation: heartBeat;
                animation-duration: 8s;
                
            }

.anchov{border:1px solid orangered;
        color:orangered;
        padding: 10px 23px !important;
        border-radius: 12px;
        font-size: 15px;
   }
  .speca1 :hover{text-decoration:none;
                } 

   .anchov:hover{ text-decoration:none;
                    background-color:rgb(255 87 34);;
    color:white;}

    .div-of-footer-aaa li{text-align:center}
    .div-of-footer-a li{text-align:center}
    ul{list-style-type:none;}

    .rowfooter{ margin: 73px 10px -24px 0px;}
    .rowfooter div{height:259px;
        background-color:black;}
        .div-of-footer-a a{color:red;}
        .div-of-footer-a{line-height:28px}
        .div-of-footer-a a:hover{color:white;
                                text-decoration:none;}       
        .div-of-footer-a h1,a{letter-spacing:2px}
        .div-of-footer-aaa h1,a{letter-spacing:2px}

    .div-of-footer-aaa h1{text-align:center;
                        color:white;
                        margin:19px;
                    padding-top:18px;
                    font-size: 21px;
                    padding-bottom:20px;}
    .div-of-footer-a h1{    
        text-align: center;
        color: white;
        margin: 19px;
        font-size: 21px;
        padding-top: 18px;
        padding-bottom: 20px;
                    }
                    .footer-icon-a	{height:48px;
                        width:50px;
                        border:1px hidden red;
                        background-image:url('logos-for-fotter.png');
                        background-position:263px 255px;
                        border-radius:7px;
                       
                        }
                        
        .footer-icon-b	{height:48px;
                        width:50px;
                        border:1px hidden red;
                        background-image:url('logos-for-fotter.png');
                        background-position:168px 255px;
                        border-radius:7px;
                        
                        }	
        .footer-icon-c	{height:48px;
                        width:50px;
                        border:1px hidden red;
                        background-image:url('logos-for-fotter.png');
                        background-position:170px 164px;
                        
                         border-radius:7px;
                        }
        .footer-icon-d	{height:48px;
                        width:50px;
                        border:1px hidden red;
                        background-image:url('logos-for-fotter.png');
                        background-position:74px 256px;
                        border-radius:7px;
                        }		
.ind{z-index:1;
    text-align:center;
   margin-left:100px  !important; }

.marg{margin-top:100px}
.ulicons li{width:62px;
            margin:auto;
            margin-bottom:10px;
        }
        

.fase{font-size:28px !important;}

.wh{width:300px;
    height:300px;}
 .mainrow{margin-top:150px;
       }
 .idv{font-size:18px;} 

 .mar{margin:70px -80px 10px 10px !important;}  
 .ktm-image {
    height: 31px;
    width: 79px;
}



 @media screen and (max-width: 1200px)
  {
    .class1290{display:none;}
    .modelshover{width:100%  !important;
        height:auto  !important;}
    .ktm-imagee1 +a{display:none;}
    .img {
        width: 215px !important;
        height: 158px !important;
    }
    

                 
             .mainrow {
                margin-top: 67px;
               
            } 
            .h-100 {
                height: 86%!important;
            }  
            .w-75 {
                width: 75%!important;
            } 
           .ulicons{width:100px} 
           .fs12{font-size:16px !important;} 
                   
 }



 .img1m{ 
    transition: transform .2s;}

.img1m,.modelshover:hover { transform: scale(1.1);} 

.modelshover12:hover { transform: scale(1.3);} 

.cardofad390:hover {transform: scale(1.1) !important;}   

 .display{display:none !important;}
 
@media screen and (max-width:768px)
{
   
    .mar{margin:auto !important;}
    .pmargin{margin:60px 0px 60px 0px !important;}  
    .sclstpara1 {
        margin-top:60px !important;
        font-size: 15px !important;
       
    }  
    .mhimg {
        height: 840px !important;
    } 
    .img {
        width: 123px !important;
        height: 81px !important;
    }
    .tabbll td{padding-bottom:16px;
        text-align:left;
        }
    .tabbll tr{display:flex;
        justify-content:space-between;
       
        }  

    .divh{height:100% !important;
            overflow:hidden}    
   
        
   
}
.fsa1 {
    font-size: 33px !important;
}


.div-of-footer-aaa ul{padding-left:0px !important;}




@media screen and (max-width:576px)
{
        .modelshover{width:100%  !important;
                    height:auto  !important;}
         .spec{font-size:10px !important;}         
         .speca{font-size:10px !important;}   
         .speca1{width:80%;
                font-size:8px !important;
            padding:10px 10px}
            .img {
                width: 63px !important;
                height: 57px !important;
            }
            .displayonsmall{display:none !important;}
           .fscla,.fsa1{display:none}
            .hovtext h1{font-size:30px;
                       margin-top:-10px;} 
         .mar{margin:70px -80px -105px -44px !important;}
         .pmargin{margin:23px 0px 60px 0px;
                    font-size:10px!important}
        
                    .mhimg {
                        height: 600px !important;
                    }        
  
            .globalmodelspara{
                font-size:45px;
                color:rgb(255 87 34);
             
                position:relative;
                top:64px;
                }
                .idd1{display:none;}
                .idd2{display:none;}
                .pmargin{font-size:10px !important;}
                .marg{display:none !important;}
                .modelshover{width:100px;
                            height:100px;}
                            .ts{font-size:10px !important;}
                            .ts1{font-size:35px !important;}

                            #idrdmore{height:250px;
                                overflow:hidden;} 

         
}


.car11 .carousel-control-next{width:20% !important;}
.car11 .carousel-control-prev{width:20% !important;}
.car1fs{font-size:50px !important;}






.hov1:hover{transform:scale(1.4) ;
            text-decoration:none;}
.sdtc{margin-top:31px;
    background: white;
    padding: 17px 1px;
    position: sticky;
    top: 0px;
    z-index: 9999;
    color:white
}


.bookride{position:absolute;
    color:white;
    top:70%;  
    
z-index:1}
.bookride p{font-size:13px;}
.bookride h1{font-size:45px;}
.bookride a{margin-top:45px !important;
            font-size:20px;}


@media screen and (max-width:992px)
{
    
    .sdtc{
        visibility:hidden;
        margin-top:-20px;
      }

      

    .mar{margin:auto !important;}
    .pmargin{margin:60px 0px 60px 0px} 
    .marg{margin-top:0px} 
    .sclstpara1 {
        margin-top:60px;
        font-size: 15px;
    }
    .h11{font-size:10px !important;}   
    .p11{font-size:7px !important;} 
    .navbar-nav a{font-size:16px;} 
    
    .hovtext h6{font-size:20px;} 
    .hovtext h1{font-size:30px;
               margin-top:-12px;} 
}
.wdd{width:100% !important}
.cpnt{margin:10px 10px 10px 10px;}



@media screen and (max-width:266px)
{
    

         .mar{margin:70px -80px -105px -44px !important;}
         .pmargin{margin:23px 0px 60px 0px;
                    font-size:10px!important}
         .pmargin{margin:23px 0px 60px 0px}
         .sclstpara1{margin:50px 50px;                        
          
            font-size:15px;
            text-align:center;}
            .globalmodelspara{
                font-size:45px;
                color:rgb(255 87 34);
             
                position:relative;
                top:64px;
                }
                .idd1{display:none;}
                .idd2{display:none;}
                
         
}



.adanc{  
         font-size: 10px;  
        background-color: rgb(255 87 34);   
     color: white;}
.h11{font-size:2px !important;}





/*rc 390 */

.tabbll td{    
    padding-bottom: 16px;
    text-align: left;
    font-size: 14px;
            }
.tabbll tr{display:flex;
            justify-content:space-between;

            }   

.dukeanchors{position:fixed;
            }

.oh{object-fit:cover;
    max-height:600px;
    width:100%;}        
    
    


/*accesories*/


.card{border-style:none !important;}


/*signup page*/
.con12
{
    position: absolute;
     max-width: 800px;
      height: 500px;
       margin: auto;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
     } 
     
     .con121
{
    position: absolute;
     max-width:300px !important;
      height: 500px;
       margin: auto;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
     } 
      
.myRightCtn{
     position: relative;
      background-image:url('raaa.jpg');
      background-position:52% 100%;
      background-size:cover;
      background-repeat:no-repeat;
      border-radius: 25px;
        height: 100%;
         padding: 25px;
          color: rgb (192, 192, 192) ;
          font-size: 12px;
           display: flex;
            justify-content: center;
             align-items: center; }
 .myLeftCtn{ position: relative;
             background: rgb(254, 254, 253);
             border-radius: 25px;
             height: 100%; 
             padding: 25px;
             padding-left: 50px; }
 .myLeftCtn1{ position: relative;
                background-image:linear-gradient(to top,rgba(255, 68, 0, 0.514),rgba(255, 255, 255, 0.528));
                border-radius: 25px;
                height: 100%; 
                padding: 25px;
                
                }  
                           
             
             
             .myLeftCtn header {
                color: #ff5722;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 20px;
            }  
            .myLeftCtn1 header {
                color: #ff5722;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 20px;
               letter-spacing:20px;
            }  
.con12r{height:100%;}       
.myCard{position: relative; 
    background: #fff; 
    height: 100%; 
    border-radius: 25px;
    box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.227);  
    } 
.myRightCtn header{ color: #fff; font-size: 44px; 
                    letter-spacing:10px;} 

.box{ position: relative; 
    margin: 20px;
     margin-bottom: 100px; }
.myLeftCtn .myInput{ width: 230px; 
     border-radius: 25px;
     padding: 10px; 
     padding-left: 50px;
      border: none; 
      box-shadow: 0px 10px 49px -14px  }
      .myLeftCtn1 .myInput{ width: 230px; 
        border-radius: 25px;
        padding: 10px; 
        padding-left: 50px;
         border: none; 
         box-shadow: 0px 10px 49px -14px  }



.myForm { position: relative; margin-top: 50px;}

.myForm { position: relative; margin-top: 50px; }
.myLeftCtn1 .butt { background-color:orangered;
    color: #fff; 
    width: 230px; 
    border: none; 
    border-radius: 25px;
     padding: 10px;
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7); } 
 .myLeftCtn .butt { background-color:orangered;
     color: #fff; 
     width: 230px; 
     border: none; 
     border-radius: 25px;
      padding: 10px;
     box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7); } 
.myLeftCtn .butt:hover 
{ background-color:white;
color:orangered }
.myLeftCtn1 .butt:hover 
{ background-color:white;
color:orangered }


.myLeftCtn .fas {
    position: relative;
    color: #ff5722;
    Left: 32px ;
}


.myLeftCtn1 .fas {
    position: relative;
    color: #ff5722;
    top:34px;
    Left: 26px !important;
    
}
 .butt_out{ background-color:orangered;color: #fff; width: 120px;
     border: 2px hidden #fff; 
     border-radius:9px; 
     padding: 10px;
     box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7); }

     .butt_out:hover {background-color:white;
                    color: orangered; }
      .butt_out:focus { outline: none; }


.bdimage{background-image:url('raaa.jpg');
        background-size:cover;
    background-position:top;  
   }
.bdimage1{background-image:url('ktmbikeimg55.jpg');
        background-position:top;        
}
.myCard {
    position: relative;
    background: #d5cdd300  !important;
    height: 100%;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 23%) 0px 10px 40px 10px;
}
@media screen and (max-width:320px){
    .myLeftCtn .fas {
        position: relative;
        color: orangered; 
        Left: 19px !important;
        top: 33px;
    }
    .myLeftCtn {
        position: relative;
        background-image: rgb(254, 254, 253);
        border-radius: 25px;
        height: 100%;
        padding: 25px;
        /* padding-left: 50px; */
    }
}


/*instagram link*/

.insta h1{font-size:60px}

.insta p{font-size:100px}
.insta a{font-size:16px}
.insta a:hover{background-color:white !important;
                color:orangered !important;}
     .insta h1:hover{color: orangered !important;}

@media screen and (min-width:1200px)
{
    .bookride p{font-size:25px;}
.bookride h1{font-size:50px;}
.bookride a{
    margin-top: 45px !important;
    font-size: 15px;
    padding: 6px 14px !important;
    border-radius: 4px;}   

.rides{font-size:90px !important;}
.rides + p{font-size:68px !important;}


}



.fsa1{font-size: 50px;}

.img{      
    width: 166px;
    height: 122px;}

.fs12{font-size:12px;}
.fs12:hover{color: orangered !important;}
.carousel-control-next, .carousel-control-prev{width:0% !important;}
.margi-top{margin-top:100px;}

.fsa1:hover{color:orangered !important;}

.mhimg{height:100%;}
.topCss
{
    margin-top: -87px;
    z-index: -10;
    display: block;
    position: relative;
}
.colorbtn
{
    width: 10px;
    display: inline-block;
}
.toRightAnimation
{
    /* transform: scaleX(-1); */
    animation:fadeIn;
    animation-duration: 1s; 
}
.bounceAnimation
{
    /* transform: scaleX(-1); */
    animation:bounce;
    animation-duration: 1s; 
}
.headingFontSizes 
{
    font-size: 29px !important;
    font-weight: 700 !important;
    margin-bottom: 21px;
    color: orangered !important;
}
.fs122{font-size:23px !important;}

.orangeclass2{color:orangered !important;
    font-size: 20px !important;
    margin-bottom: 0px;
    padding: 0px 16px 10px;
}
    .orangeclass3{color:white !important;
        font-size: 20px !important;
        margin-bottom: 0px;}



.whiteBorder
{
    border: 3px solid #ff5500a6 !important;
    border-style: none none solid none !important;
    padding: 0px 16px 10px;
    border-radius: 0px;
    /* text-shadow: 10px 10px 25px #f50; */
}
